@keyframes moveButton {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.button-animate {
  animation: moveButton 2s ease-in-out infinite;
}

// .ant-menu-sub.ant-menu-inline {
//   // color: #585858 !important;
//   // background-color: #FFFFFF !important;
// }
.ant-menu-sub.ant-menu-inline li {
  padding-left: 32px !important;
}
.ant-menu-inline .ant-menu-item:after {
  border-right: none !important;
}

.ant-menu-item {
  border-radius: var(--Border-Radius-borderRadiusLG, 8px) !important;
  
}

// .ant-menu-item-selected {
//   // background: #EBE6FF !important;
//   .ant-menu-title-content {
//     color: #947DF0 !important;
//   }
//   .ant-menu-item-icon {
//     color: #947DF0 !important;
//   }
// }
// .ant-menu-item-selected, .ant-menu-item-selected a, .ant-menu-item-selected a:hover{
//   color: #1B73E8 !important;
// }

.ant-menu-title-content {
  // color: #585858;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.ant-menu-item-icon {
  // color: white !important;
  font-size: 14px !important;
}

/* Highlight the active submenu */
.ant-menu-submenu-selected .ant-menu-submenu-title {     
  // color: #1B73E8 !important;
  text-align: start !important;
}
.ant-menu-item-icon{  
  font-size: 18px !important;
}
.ant-menu-title-content{
  font-size: 14px !important;
  padding-left: 0px !important;
}
.ant-menu-item-only-child{
  padding-left: 24px !important;
}

// .button-animate:hover {
//   border:white;
//   color:white

// }